<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
		<nav>
		  <ul>
			<li><a href="/">Home</a></li>
			<li><a href="/#courses">Courses</a></li>
			<li><a href="/#about-us">About Us</a></li>
			<li><a href="/#contact">Contact</a></li>
			<li><a href="/user/logout">Logout</a></li>
		  </ul>
		</nav>
	</header>
  <div class="container">
    <h1>User Profile</h1>
    <!-- <img class="profile-image" src="profile-image.jpg" alt="Profile Image"> -->
    <div class="profile-info">
      <div>
        <span>Name:</span>
        <input type="text" id="nameInput" value="<%= user.name %>" disabled>
      </div>
      <div>
        <span>Email:</span>
        <input type="text" id="emailInput" value="<%= user.email %>" disabled>
      </div>
    </div>

    <div class="button-container">
      <button id="editButton">Edit</button>
      <button id="saveButton">Save</button>
      <button id="cancelButton">Cancel</button>  
    </div>  
  </div>

  <script>
    const editButton = document.getElementById('editButton');
    const saveButton = document.getElementById('saveButton');
    const cancelButton = document.getElementById('cancelButton');
    const nameInput = document.getElementById('nameInput');
    const emailInput = document.getElementById('emailInput');

    editButton.addEventListener('click', () => {
      nameInput.disabled = false;
      emailInput.disabled = false;
      
      editButton.style.display = 'none';
      saveButton.style.display = 'inline-block';
      cancelButton.style.display = 'inline-block';
    });

    cancelButton.addEventListener('click', () => {
      nameInput.disabled = true;
      emailInput.disabled = true;

      editButton.style.display = 'inline-block';
      saveButton.style.display = 'none';
      cancelButton.style.display = 'none';

      // Reset input values
      nameInput.value = 'John Doe';
      emailInput.value = 'johndoe@example.com';
    });

    saveButton.addEventListener('click', () => {
      nameInput.disabled = true;
      emailInput.disabled = true;

      editButton.style.display = 'inline-block';
	  saveButton.style.display = 'none';
      cancelButton.style.display = 'none';
	  });
	</script>
  <footer>
    &copy; 2023 Gyanshala. All rights reserved.
  </footer>
	</body>
</html>